name: Upload Python Package

on:
  push:
    branches:
      - main
      - test
    paths:
      - "src/**"
      - "pyproject.toml"
  workflow_dispatch:

permissions:
  contents: write # REQUIRED for uploading artifacts
  id-token: write # REQUIRED for PyPI publishing

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build release distributions
        run: |
          python -m pip install --upgrade pip
          python -m pip install build
          python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write

    environment:
      name: pypi
      url: ${{ github.ref == 'refs/heads/main' && 'https://pypi.org/project/telemetry-server' || 'https://pypi.org/project/telemetry-server-testing' }}

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
